@page
@model Economic.RazorPage.Pages.Product.SearchModel
@{
}


<!-- featured products -->
<div class="small-container">
    <!-- Lastest Products -->
    <h2 class="title">Sản phẩm</h2>
    <p style="text-align: center; font-size: 20px">Kết quả cho từ khóa tìm kiếm: <b> @Model._homeViewModels.keyword </b> </p>
    <div class="row">
        @if (Model._homeViewModels.Products.Count() != 0)
        {
            @foreach (var item in Model._homeViewModels.Products)
            {
                <div class="col-4">
                    <a asp-page="/Product/Productdetail" asp-route-id="@item.Id">
                        @if (item.ProductImages.Count() == 0)
                        {
                            <img src="/public/img/cart.png" alt="product">
                        }
                        else
                        {
                            <img src="@item.ProductImages[0].ProductPath" alt="product">
                        }
                        <h4> @item.Name </h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span style="color: #999; font-size: 13px; text-decoration: line-through;">@item.Price</span>
                        <p style="color: #e4270e;">@item.Price</p>
                    </a>
                </div>
            }
        }
        else
        {
            <p style="font-size: 20px">Không tìm thấy từ khóa: <b> @Model._homeViewModels.keyword </b> </p>
        }
    </div>
</div>


