@page "/product/{id:int}"
@model ProductdetailModel
@{
}

<div class="small-container single-product">
        <div class="row">
            <div class="col-2">

            @if (@Model._homeViewModels.Product.ProductImages.Count() != 0)
            {
                <img style="height: 316.66px; " src="~/public/img/products/@Model._homeViewModels.Product.ProductImages[0].ProductPath" alt="gallery" width="100%" id="ProductImg">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img style="height: 76px; object-fit: cover" src="~/public/img/products/@Model._homeViewModels.Product.ProductImages[1].ProductPath" alt="gallery" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img style="height: 76px; object-fit: cover" src="~/public/img/products/@Model._homeViewModels.Product.ProductImages[2].ProductPath" alt="gallery" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img style="height: 76px; object-fit: cover" src="~/public/img/products/@Model._homeViewModels.Product.ProductImages[3].ProductPath" alt="gallery" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img style="height: 76px; object-fit: cover" src="~/public/img/products/@Model._homeViewModels.Product.ProductImages[1].ProductPath" alt="gallery" width="100%" class="small-img">
                    </div>
                </div>
            }
            else
            {
                <img style="height: 316.66px; " src="~/public/img/products/1.1.jpg" alt="gallery" width="100%" id="ProductImg">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img style="height: 76px; object-fit: cover" src="~/public/img/products/1.1.jpg" alt="gallery" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img style="height: 76px; object-fit: cover" src="~/public/img/products/1.1.jpg" alt="gallery" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img style="height: 76px; object-fit: cover" src="~/public/img/products/1.1.jpg" alt="gallery" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img style="height: 76px; object-fit: cover" src="~/public/img/products/1.1.jpg" alt="gallery" width="100%" class="small-img">
                    </div>
                </div>
            }

            </div>
            <div class="col-2">
                <p><a href="">Trang chủ</a> / <a href="">Sản phẩm</a></p>
                <h1 style="font-size: 35px; line-height: 38px">@Model._homeViewModels.Product.Name</h1>
                <span class="giamgia">@Model._homeViewModels.Product.Price</span>
                <h4>@Model._homeViewModels.Product.Price</h4>
                <input type="number" value="1" min="1">
                <a style="cursor: pointer" class="btn">+Thêm vào giỏ hàng</a>
                <h3>Mô tả sản phẩm <i class="fa fa-indent"></i> </h3>
                <br>
                <p>@Model._homeViewModels.Product.Description</p>
            </div>
        </div>
    </div>

    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Sản phẩm liên quan</h2>
            <a href="http://localhost:81/Camel-Store/products">
                <p style="color: blue;">Xem thêm</p>
            </a>
        </div>
    </div>
    <!-- products -->
    <div class="small-container">
        <div class="row">
            @foreach (var item in Model._homeViewModels.SameProducts)
            {
                <div class="col-4">
                    <a asp-page="Productdetail" asp-route-id="@item.Id">
                        @if (item.ProductImages.Count() == 0)
                        {
                            <img src="/public/img/cart.png" alt="product">
                        }
                        else
                        {
                            <img src="/public/img/products/@item.ProductImages[0].ProductPath" alt="product">
                        }
                        <h4> @item.Name </h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="giamgia"> @(item.Price*110/100)</span>
                        <p>@item.Price</p>
                    </a>
                </div>
            }
        </div>
    </div>

<!-- Commnet -->
<div class="small-container">
        <h2 class="title row cmt-tittle">
            ĐÁNH GIÁ SẢN PHẨM
        </h2>
    <br>
    @if(Model._homeViewModels.Comments != null)
    {
        @foreach (var item in Model._homeViewModels.Comments)
        {
            <div class="small-container" style="border-bottom: 1px solid rgb(187, 183, 183)">
                <div class="row">
                    <div>
                        <img class="cmt-image" src="/public/img/user-1.png" alt="user-image">
                    </div>
                    <div>
                        <span hidden id="user-cmt-star"></span>
                        <div style="width: 200px;"></div>
                        @for (var i = 0; i < item.Star; i++)
                        {
                            <i class="fa fa-star" style="color: orange;"></i>
                        }
                        @for (var i = 0; i < (5 - item.Star); i++)
                        {
                            <i class="fa fa-star-o" style="color: orange;"></i>
                        }
                    </div>
                    <div>@item.CreatedDate</div>
                    <div onclick="editComment()" id="editComment" class="user-cmt-edit" style="color: #ff523b; cursor: pointer;">Edit</div>

                </div>
                <div class="cmt-content">
                    @item.Content
                </div>
            </div>
            <br />
        }
    }
    @if (Model._homeViewModels.Comments.Count() == 0)
    {
        <br>
        <div class="small-container" style="border: 1px solid rgb(187, 183, 183);">
            Chưa có đánh giá nào
        </div>
        <br>
    }

    <br>
    <div class="small-container" style="border: 1px solid rgb(187, 183, 183)">
       
    </div>
    <br>

    <div class="row">
        <div onload="" class="container-star">

            <div class="container_post">
                <div class="container_post-text">Cảm ơn bạn đánh giá!</div>
            </div>

            <div class="container_star-widget">
                <input onclick="Comment()" type="radio" name="rate" class="rank-star" id="rate-5">
                <label for="rate-5" class="fa fa-star"></label>

                <input onclick="Comment()" type="radio" name="rate" class="rank-star" id="rate-4">
                <label for="rate-4" class="fa fa-star"></label>

                <input onclick="Comment()" type="radio" name="rate" class="rank-star" id="rate-3">
                <label for="rate-3" class="fa fa-star"></label>

                <input onclick="Comment()" type="radio" name="rate" class="rank-star" id="rate-2">
                <label for="rate-2" class="fa fa-star"></label>

                <input onclick="Comment()" type="radio" name="rate" class="rank-star" id="rate-1">
                <label for="rate-1" class="fa fa-star"></label>

                <form class="container_star-widget-form" method="post" asp-page="Productdetail" asp-route-id="@Model._homeViewModels.Product.Id">
                    <input id="form-star-input" type="number" hidden name="Star" value="0">
                    <header class="cmt-like"></header>
                    <span hidden class="form-cmt-rank" style="color: #fff;"></span>
                    <div class="textarea">
                        <textarea name="Content" id="" cols="30" placeholder="Nhận xét của bạn ... "></textarea>
                    </div>
                    <div class="form-btn" type="submit">
                        <button class="form-button">
                            THỰC HIỆN
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="/public/js/productGallery.js"></script>

@*<script>
    const btn = document.querySelector(".form-button");
    const post = document.querySelector(".container_post");
    const widget = document.querySelector(".container_star-widget");

        btn.onclick = () => {
            widget.style.display = "block";
            post.style.display = "block";
            onclick = () => {
                widget.style.display = "block";
                post.style.display = "block";
            }
            return false;
        }
</script>*@

<!-- Get value user star rank -->
<script>
    star_1 = document.getElementById("rate-1");
    star_2 = document.getElementById("rate-2");
    star_3 = document.getElementById("rate-3");
    star_4 = document.getElementById("rate-4");
    star_5 = document.getElementById("rate-5");
    var rank = document.getElementById("form-star-input");
    star_1.onclick = () => {
        rank.value = "1";
        console.log("Da in 1");
    }
    star_2.onclick = () => {
        rank.value = "2";
        console.log("Da in 2");
    }
    star_3.onclick = () => {
        rank.value = "3";
        console.log("Da in 3");
    }
    star_4.onclick = () => {
        rank.value = "4";
        console.log("Da in 4");
    }
    star_5.onclick = () => {
        rank.value = "5";
        console.log("Da in 5");
    }
</script>

<!-- Checked star-->
@*<script>
    function Comment() {
        var cmt = parseInt(document.getElementById("user-cmt-star").innerHTML);
        var star = [];
        star[0] = document.getElementById("rate-1");
        star[1] = document.getElementById("rate-2");
        star[2] = document.getElementById("rate-3");
        star[3] = document.getElementById("rate-4");
        star[4] = document.getElementById("rate-5");
        switch (cmt) {
            case 1:
                star[0].checked = true;
                break;
            case 2:
                star[1].checked = true;
                break;
            case 3:
                star[2].checked = true;
                break;
            case 4:
                star[3].checked = true;
                break;
            case 5:
                star[4].checked = true;
                break;
            default:
                console.log("Không biết");
        }
        // console.log(cmt);
    }
    Comment();
</script>*@

